<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/cart.css">
    <link rel="stylesheet" type="text/css" href="css/modal.css">
</head>
<body>
<div id="app">
    <div class="cart">
        <div class="checkout-title">
            <span>购物车</span>
        </div>
    </div>

    <!--商品列表，这里使用ul li组合而不是table，因为table在DOM渲染方面有问题-->
    <div class="item-list-wrap">
        <div class="cart-item">
            <div class="cart-item-head">
                <ul>
                    <li>商品信息</li>
                    <li>商品金额</li>
                    <li>商品数量</li>
                    <li>总金额</li>
                    <li>编辑</li>
                </ul>
            </div>
            <div class="cart-item-body">
                <ul v-for="item in productList">
                    <!--商品信息-->
                    <li class="basic-info">
                        <div class="cart-tab-list">
                            <div class="cart-item-check">
                                <!--(8)监听item中的check属性，如果true，表示当前是选中状态，使用fa-check-square-o类，如果是false，表示当前是未选中状态，使用fa-square-o类
                                并且通过@click事件绑定的方法来改变item.check的值，在item中如果没有check属性，需要使用Vue.set()方法或$set()方法来给item注册属性-->
                                <i class="fa" :class="item.check ? 'fa-check-square-o' : 'fa-square-o'"
                                   @click="checkedProduct(item)"></i>
                            </div>
                            <div class="cart-item-pic">
                                <img :src="item.productImage" width="100%" align="center">
                            </div>
                            <div class="cart-item-name">{{item.productName}}</div>
                            <div class="item-include">
                                <dl>
                                    <dt>赠送：</dt>
                                    <dd v-for="part in item.parts" v-text="part.partsName"></dd>
                                </dl>
                            </div>
                        </div>
                    </li>
                    <!--商品金额-->
                    <li class="product-price">
                        <div class="price">
                            <!--(3)普通过滤器的使用方式-->
                            <span>{{item.productPrice | moneyFormat}}</span>
                        </div>
                    </li>
                    <!--商品数量-->
                    <li class="product-num">
                        <div class="num">
                            <div>
                                <!--(5)vue绑定事件：两种方式，一种是v-on，一种是直接通过@-->
                                <span class="add" @click="changeQuantity(item, 1)">+</span>
                                <input type="text" readonly v-model="item.productQuantity">
                                <span class="delete" @click="changeQuantity(item, -1)">-</span>
                            </div>
                            <div class="stock">有货</div>
                        </div>
                    </li>
                    <!--总金额-->
                    <li class="product-total">
                        <div class="total">
                            <!--(3)带有参数的过滤器的使用方式-->
                            <span>{{item.productPrice * item.productQuantity | transferMoney("元")}}</span>
                        </div>
                    </li>
                    <!--编辑：删除，（10.1）点击删除时改变vm中的delFlag状态值，通过delFlag的状态值控制模态框的显示状态，
                    delFlag为true时，显示模态框，delFlag为false时隐藏模态框；（10.2）并在点击删除按钮时，
                    将要删除的产品信息传递给vm的currProduct变量，将currProduct中的productId传至后台进行删除操作-->
                    <li>
                        <div class="edit">
                            <i class="fa fa-trash" @click="changeDelFlag(item)"></i>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="item-foot">
            <!--全选-->
            <div class="select-all">
                <i class="fa" :class="selectAllFlag ? 'fa-check-square-o' : 'fa-square-o'" @click="selectAll()"> 全选</i>
            </div>

            <!--全部金额-->
            <div class="pay-detail">
                全部金额：<span>{{totalMoney | moneyFormat}}</span>
                <button type="button" id="pay">结 账</button>
            </div>
        </div>
    </div>
    <!--删除商品时的modal-->
    <div class="md-modal modal-msg md-modal-transition" id="showModal" :class="delFlag ? 'md-show' : ''">
        <div class="md-modal-inner">
            <div class="md-top">
                <button class="md-close" @click="delFlag = false">关闭</button>
            </div>
            <div class="md-content">
                <div class="confirm-tips">
                    <p id="cusLanInfo">你确认删除此商品信息吗?</p>
                </div>
                <div class="btn-wrap col-2">
                    <button class="btn btn--m" id="btnModalConfirm" @click="delProduct">Yes</button>
                    <button class="btn btn--m btn--red" id="btnModalCancel" @click="delFlag=false">>No</button>
                </div>
            </div>
        </div>
    </div>
    <!--删除商品时的遮罩层-->
    <div class="md-overlay" v-if="delFlag"></div>
</div>


<script type="text/javascript" src="static/vue/vue.min.js"></script>
<script type="text/javascript" src="static/vue/vue-resource.js"></script>
<script type="text/javascript" src="js/cart.js"></script>
</body>
</html>